# Binaries for programs, uncommited generated code and plugins
cmd/zsys/zsys*
generated/
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage/

# Package artefacts
obj-x86_64-linux-gnu/
vendor/
