[Unit]
Description=Mark current ZSYS boot as successful
After=default.target
Requires=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/zsys boot commit

# Some daemon restrictions
NoNewPrivileges=true
ProtectHome=true
PrivateTmp=true
PrivateNetwork=true

[Install]
WantedBy=default.target