[Unit]
Description=Save current user state periodically
ConditionUser=!@system

[Timer]
OnStartupSec=1min
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target