name: Update master branch automatically
on:
  push:
    branch: master

jobs:
  update-po:
    name: Update po files
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      # Install go
      - uses: actions/setup-go@v1
        with:
          go-version: '1.13.x'
      - name: Install required dependencies
        run: sudo apt install -y gettext
      # Update po if needed
      - name: Checkpo files
        id: checkpo
        run: |
          hasModif="false"
          go generate ./internal/i18n/
          # Exclude line diffs only
          MODIFIED=$(git difftool -y -x "diff -Nup -I '^#: '" po/)
          if [ -n "$MODIFIED" ]; then
            hasModif="true"
          fi
          echo "::set-output name=pomodified::${hasModif}"
      - name: Delete previous branch if present
        if: steps.checkpo.outputs.pomodified == 'true'
        run: |
          git remote set-url origin https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY
          git push -d origin auto-update-po || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Pull Request
        if: steps.checkpo.outputs.pomodified == 'true'
        uses: peter-evans/create-pull-request@v1
        with:
          commit-message: Auto update po files
          title: Auto update po files
          labels: po, automated pr
          body: "[Auto-generated pull request](https://github.com/ubuntu/zsys/actions?query=workflow%3A%22Update+master+branch+automatically%22) by GitHub Action"
          branch: auto-update-po
          branch-suffix: none
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Push and delete branch
        if: steps.checkpo.outputs.pomodified == 'true'
        run: |
          git push origin auto-update-po:master
          git push -d origin auto-update-po
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
