name: Update master branch automatically
on:
  push:
    branches:
      - master
    paths-ignore:
      - po/*
      - README.md

jobs:
  update-po:
    name: Update po files
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      # Install go
      - uses: actions/setup-go@v1
        with:
          go-version: '1.13.x'
      - name: Install required dependencies
        run: sudo apt install -y gettext
      # Update po if needed
      - name: Check po files
        id: checkpo
        run: |
          hasModif="false"
          go generate ./internal/i18n/
          # Exclude line diffs only
          MODIFIED=$(git difftool -y -x "diff -Nup -I '^#: '" po/)
          if [ -n "$MODIFIED" ]; then
            hasModif="true"
          fi
          echo "::set-output name=pomodified::${hasModif}"
      - name: Delete previous branch if present
        if: steps.checkpo.outputs.pomodified == 'true'
        run: |
          git remote set-url origin https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY
          git push -d origin auto-update-po || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Pull Request
        if: steps.checkpo.outputs.pomodified == 'true'
        uses: peter-evans/create-pull-request@v1
        with:
          commit-message: Auto update po files
          title: Auto update po files
          labels: po, automated pr
          body: "[Auto-generated pull request](https://github.com/ubuntu/zsys/actions?query=workflow%3A%22Update+master+branch+automatically%22) by GitHub Action"
          branch: auto-update-po
          branch-suffix: none
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Push and delete branch
        if: steps.checkpo.outputs.pomodified == 'true'
        run: |
          git push origin auto-update-po:master
          git push -d origin auto-update-po
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-readme:
    name: Update readme file
    # This should just be "after", but we don't want the 2 jobs to push at the same time
    needs: update-po
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      # Install go
      - uses: actions/setup-go@v1
        with:
          go-version: '1.13.x'
      # Add dependencies
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y ca-certificates gcc libzfslinux-dev
      # Try updating README
      - name: Check README file
        id: checkreadme
        run: |
          hasModif="false"
          cd cmd/zsysd
          go run ./generate-mancomp.go cobracompletion.go completion.go update-readme
          MODIFIED=$(git status --porcelain --untracked-files=no)
          if [ -n "$MODIFIED" ]; then
            hasModif="true"
          fi
          echo "::set-output name=readmemodified::${hasModif}"
      - name: Delete previous branch if present
        if: steps.checkreadme.outputs.readmemodified == 'true'
        run: |
          git remote set-url origin https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY
          git push -d origin auto-update-readme || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Pull Request
        if: steps.checkreadme.outputs.readmemodified == 'true'
        uses: peter-evans/create-pull-request@v1
        with:
          commit-message: Auto update readme files
          title: Auto update readme files
          labels: readme, automated pr
          body: "[Auto-generated pull request](https://github.com/ubuntu/zsys/actions?query=workflow%3A%22Update+master+branch+automatically%22) by GitHub Action"
          branch: auto-update-readme
          branch-suffix: none
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Push and delete branch
        if: steps.checkreadme.outputs.readmemodified == 'true'
        run: |
          git push origin auto-update-readme:master
          git push -d origin auto-update-readme
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
